
    .header {
       
        height: 16vh;
        background-color: rgb(63, 65, 64);
        color: #FFF;
    }
    .content{
         height: 84vh;
        .left{

            background-color: rgb(41, 41, 39);
        }
        .right{
            
            background-color: rgb(135, 143, 135);
        }
    }
